//
// Variables
// ----------------------------------------------------------------------

//== Colors
//Gray and brand colors to use across the Theme.
$nav-active: #acdacf;
// Grayscale
$main-color: #333;
$link-color: #666;
$link-hover: #000;

// Fonts
$logoFont: 30px !default;
$aFonts: 14px !default;
$bigSlider: 70px !default;
$smallSlider: 24px !default;
$mainH1: 20px;

// Backgrund
$bkg-color: #eee;
$footer-bkg: #85c3dc;
$footer-color: #598091;
